$primary-color: #272727;
$secondary-color: #ff652f;
$max-width: 800px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;
}

.lead {
  font-size: 2.5rem;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@mixin flexEnd {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #333;
  } @else {
    @return #fff;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}
