.contact {
  height: 100%;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url("../img/vaccine.jpg") center center/cover no-repeat;

  h2 {
    margin-bottom: 2rem;
    padding-left: 1rem;
  }

  &__list {
    padding-left: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    font-size: 1.5rem;
  }

  .social-icons {
    position: initial;
    margin-top: 1.5rem;
  }
}
