@include media-md {
  .home__lead {
    font-size: 4rem;
  }

  .lead {
    font-size: 3rem;
  }

  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: rgba($primary-color, 0.5);
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1rem;
      }

      &__link {
        font-size: 1.3rem;
      }
    }
  }

  .about__image p,
  .rules h2 {
    font-size: 1.5rem;
  }

  .contact__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media-lg {
  .contact__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    .contact__address {
      grid-column: 1 / span 3;
      text-align: center;
    }
  }
}
